@model lsbu_solutionise.Data.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessPostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessWebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupportNeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupportNeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HearUs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HearUs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDateTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
